{% extends 'base.html.twig' %}

{% block body %}

        <div class="container">
            <h2 class="mt-4 mb-5 text-center">Modifier les informations client</h2>

            <div class="row">
                <div class="col"></div>
                <div class="col-4">

            {{ form_errors(form.firstName) }}
            {{ form_errors(form.lastName) }}
            {{ form_errors(form.address) }}
            {{ form_errors(form.postalCode) }}
            {{ form_errors(form.phone) }}
            {{ form_errors(form.username) }}



            {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}

            <p>
                {{ form_label(form.firstName, "Prenom:", { 'label_attr': { 'class': 'myclass '}}) }}
                {{ form_widget(form.firstName) }}
            </p>
            <p>
                {{ form_label(form.lastName, "Nom de famille:") }}
                {{ form_widget(form.lastName) }}
            </p>
            <p>
                {{ form_label(form.address, "Adresse:") }}
                {{ form_widget(form.address) }}
            </p>
            <p>
                {{ form_label(form.postalCode, "Code postal:") }}
                {{ form_widget(form.postalCode) }}
            </p>
            <p>
                {{ form_label(form.phone, "Telephone:") }}
                {{ form_widget(form.phone) }}
            </p>

            <p>
                {{ form_label(form.username, 'email:') }}
                {{ form_widget(form.username) }}
            </p>

                <button type="submit"  class="btn btn-primary" name="validation">Valider</button>
                {{ form_end(form) }}

        </div>
                <div class="col"></div>
    </div>
</div>

    {% include "inc/footer.html.twig" %}

{% endblock %}